*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.box{
    background: rgb(0, 150, 136);
    background: linear-gradient(180deg,rgb(0, 150, 136) 15%, rgb(218, 219, 210) 15%); 
    align-items: center;
}

.container{
    border: 1px solid red;
    height: 90%;
    padding: 0;
}

#l-box{
    width: 30%;
    background-color: blue;
    height: 100%;
}

#r-box{
    width: 70%;
    background-color: red;
    height: 100%;
}